html *,
body * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  position: relative;
}

img {
  width: 100%;
}

a {
  color: #0095a9;
  outline: 0;
}

p,
li {
  font-size: 1.3rem;
}

.divider {
  background: #a50034;
  height: 3px;
  margin: 2rem auto;
  width: 6rem;
}

.flexWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.btn-blue {
  background-image: linear-gradient(15deg, #50badd, #50badd);
  /*background: #50badd;
  border: 1px solid #50badd;*/
  border-radius: 0.18rem;
  color: white;
  display: inline-block;
  font-size: 1.5rem;
  padding: 0.9rem 2rem;
  text-decoration: none;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.btn-blue:hover {
  color: #50badd;
  color: #fff;
}

.btn-blue2 {
  border: 1px solid #50badd;
  border-radius: 0.2rem;
  color: #50badd;
  display: inline-block;
  font-size: 1.3rem;
  padding: 1.2rem 2rem;
  text-align: center;
  text-decoration: none;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.btn-blue2:hover {
  background: #50badd;
  color: white;
}

.section {
  background: white;
  max-width: 1500px;
  margin: auto;
  padding: 4rem 4rem 0;
  position: relative;
}

@media (max-width: 1356px) {
  .section {
    padding: 3rem 4rem 0;
  }
}

@media (max-width: 960px) {
  .section {
    padding: 2rem 2rem 0;
  }
  p,
  li {
    font-size: 1rem;
  }
  .btn-blue {
    font-size: 1.2rem;
    padding: 0.7rem 1.5rem;
  }
}

@media (max-width: 767px) {
  .divider {
    margin: 1rem auto;
  }
  #hamburger.change #bar1 {
    -webkit-transform: rotate(-45deg) translate(-3px, 6px);
    -ms-transform: rotate(-45deg) translate(-4px, 6px);
    transform: rotate(-45deg) translate(-4px, 6px);
  }

  #hamburger.change #bar2 {
    opacity: 0;
  }

  #hamburger.change #bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    -ms-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
  .nav .item#hamburger a > span:nth-child(1) {
    margin-top: 4px;
    top: auto;
  }
  .nav .item#hamburger a > span:nth-child(2) {
    line-height: 1;
  }
  .section {
    padding: 0 2rem 0;
  }
}

@media (max-width: 550px) {
  .section {
    padding: 0 0.7rem 1rem;
  }
  .btn-blue {
    display: block;
    margin: auto;
    width: 95%;
  }
  .btn-blue2 {
    font-size: 4vw;
    padding: 3vw 5vw;
  }
}

@media (max-width: 450px) {
}
