.pageCommunity {
  /* .section#posSection .flexWrapper .textWrapper h2 {
        color: black;
        font-size: 2rem;
        margin-bottom: .7rem;
    } */
}
.pageCommunity p a {
  text-decoration: none;
}
.pageCommunity .btn-blue2 {
  padding: 1.2rem 3rem;
}
.pageCommunity .ica-logo {
  width: 200px;
  display: block;
}
.pageCommunity .section#rchainSection {
  background-image: linear-gradient(to top, #42022e, #ab0433);
  padding: 4rem;
}
.pageCommunity .section#rchainSection > h1 {
  color: white;
  font-size: 2.4rem;
  margin: 0 auto 0.7rem;
  text-align: center;
}
.pageCommunity .section#rchainSection > p {
  color: white;
  font-size: 1.5rem;
  margin: auto;
  text-align: center;
  width: 70%;
  margin-bottom: 2rem;
}
.pageCommunity .section#posSection > .textWrapper div:nth-child(3) {
  text-align: center;
}
.pageCommunity .section#posSection .flexWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.pageCommunity .section#posSection .flexWrapper .imgWrapper {
  margin-bottom: 1.5rem;
  order: 2;
  width: 45%;
}
.pageCommunity .section#posSection .flexWrapper .imgWrapper img {
  display: block;
  left: 6rem;
  position: relative;
  top: 6rem;
  width: 13rem;
}
.pageCommunity .section#posSection .flexWrapper .textWrapper {
  width: 45%;
}
.pageCommunity .section#posSection .flexWrapper .textWrapper ul {
  list-style: none;
  padding: 0;
  text-align: left;
}
.pageCommunity .section#posSection .flexWrapper .textWrapper ul li {
  margin-bottom: 1rem;
}
.pageCommunity .section#posSection .flexWrapper .textWrapper ul li span:nth-child(1) {
  background: #fcb415;
  border-radius: 50px;
  display: inline-block;
  height: 15px;
  margin-right: 20px;
  width: 15px;
}
.pageCommunity .section#posSection .flexWrapper .textWrapper .btn-blue2 {
  max-width: 460px;
  width: 100%;
}
@media (max-width: 1200px) {
  .pageCommunity .section#rchainSection > p {
    width: 90%;
  }
  .pageCommunity .section#posSection .flexWrapper .imgWrapper {
    width: 47%;
  }
  .pageCommunity .section#posSection .flexWrapper .textWrapper {
    width: 47%;
  }
}
@media (max-width: 960px) {
  .pageCommunity .section#rchainSection > h1 {
    font-size: 1.6rem;
    margin: 0 auto 0.2rem;
  }
  .pageCommunity .section#rchainSection > p {
    font-size: 1rem;
  }
  .pageCommunity .section#posSection {
    padding: 4rem;
  }
  .pageCommunity .section#posSection .flexWrapper .textWrapper ul li {
    margin-bottom: 1.2rem;
  }
  .pageCommunity .section#posSection .flexWrapper .imgWrapper img {
    left: auto;
    margin: auto;
    top: 3rem;
  }
}
@media (max-width: 767px) {
  .pageCommunity .section#rchainSection {
    padding: 2rem 0.7rem;
  }
  .pageCommunity .section#posSection {
    padding: 2rem 0.7rem;
  }
  .pageCommunity .section#posSection .flexWrapper {
    display: block;
  }
  .pageCommunity .section#posSection .flexWrapper .imgWrapper {
    order: 1;
    width: auto;
  }
  .pageCommunity .section#posSection .flexWrapper .imgWrapper img {
    top: auto;
    width: 8rem;
  }
  .pageCommunity .section#posSection .flexWrapper .textWrapper {
    width: auto;
    text-align: center;
  }
  .pageCommunity .section#posSection .flexWrapper .textWrapper p {
    margin: auto;
    width: 90%;
  }
  .pageCommunity .section#posSection .flexWrapper .textWrapper ul {
    padding: 0 4rem;
  }
  .pageCommunity .section#posSection .flexWrapper .textWrapper ul li span:nth-child(1) {
    margin-right: 10px;
  }
}
@media (max-width: 650px) {
  .pageCommunity .section .textWrapper,
.pageCommunity .section .imgWrapper {
    display: block;
  }
}
@media (max-width: 550px) {
  .pageCommunity .btn-blue2 {
    display: block;
    margin: auto;
    width: 95%;
  }
  .pageCommunity .section#rchainSection > h1 {
    font-size: 7.5vw;
  }
  .pageCommunity .section#posSection .flexWrapper .textWrapper ul {
    padding: 0 0 0 1.5rem;
  }
}

.pageIndex .topSection {
  background: linear-gradient(20deg, #111, #121217);
  margin: 0px;
  padding-bottom: 40px;
  background: url("/assets/mountaindark1920.jpg");
  background-size: cover;
  background-position-y: bottom;
  background-position-x: right;
}
.pageIndex .topSection .section {
  background: transparent;
}
.pageIndex .green {
  font-size: 1.4rem;
  line-height: 1rem;
  font-weight: 600;
  color: #d3ffa3;
}
.pageIndex .green img {
  transform: translate(2px, 5px);
  width: 25px;
  height: auto;
}
.pageIndex .alert {
  margin-top: 1rem;
  background-color: #0fb9c9;
  border: 1px solid #63e5fc;
  background: rgba(160, 253, 247, 0.7);
  color: #111;
  padding: 1rem;
  font-weight: 500;
  font-size: 1.4rem;
}
.pageIndex .alert span {
  width: 2rem;
  height: 2rem;
  margin-right: 10px;
}
.pageIndex .top {
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 0% 100% 0%;
  grid-template-rows: 100%;
  padding-left: 50px;
  padding-right: 50px;
  height: 800px;
  color: white;
}
.pageIndex .top .left {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  padding-left: 100px;
}
.pageIndex .top .left .buttons-top {
  display: flex;
}
.pageIndex .top .left .buttons-top .btn-tech-overview {
  margin-right: 1rem;
}
.pageIndex .top .left h1,
.pageIndex .top .left p {
  margin: 0px;
}
.pageIndex .top .left h1.rchain-scales {
  font-size: 3.8rem;
  font-weight: 600;
}
.pageIndex .top .left .main-p {
  font-size: 1.9rem;
  margin-top: 10px;
  text-align: justify;
  max-width: 900px;
  font-weight: 300;
  color: white;
  padding: 8px;
  border-radius: 2px;
}
.pageIndex .top .left .main-p b {
  font-weight: bold;
}
.pageIndex .top .right {
  grid-row: 1;
  grid-column: 2;
  display: flex;
}
.pageIndex .boxes {
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 300px 300px;
}
@media (max-width: 1199px) {
  .pageIndex .boxes {
    display: flex;
    flex-direction: column;
  }
}
.pageIndex .boxes .div1 {
  grid-row: 1;
  grid-column: 1;
}
.pageIndex .boxes .div2 {
  grid-row: 1;
  grid-column: 2;
}
.pageIndex .boxes .div3 {
  grid-row: 2;
  grid-column: 1;
}
.pageIndex .boxes > div {
  transition: all 0.2s ease-in-out;
  margin: 10px;
}
.pageIndex .boxes > div:hover {
  transform: scale(1.02);
  background: linear-gradient(-20deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8));
}
.pageIndex .boxes > div > div {
  padding: 10px;
  border: 4px solid #000;
  color: #fff;
  border-radius: 1rem;
  background: linear-gradient(-60deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
}
.pageIndex .boxes > div > div h1 {
  font-size: 3.4rem;
  margin: 0px;
}
.pageIndex .boxes > div > div h1 span {
  width: 4.2rem;
  height: 4.2rem;
  margin-right: 10px;
  transform: translateY(0.5rem);
}
.pageIndex .boxes > div > div p {
  font-size: 1.8rem;
  font-weight: 400;
}
.pageIndex .horizontal {
  width: 100vw;
  height: 100px;
  color: #111;
  font-weight: 400;
  background: linear-gradient(20deg, #d3ffa3, #e4fcc9);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 992px) {
  .pageIndex .horizontal > a {
    margin-left: 100px;
    font-size: 1.6rem;
  }
}
@media (max-width: 991px) {
  .pageIndex .horizontal > a {
    font-size: 1.2rem;
    margin-left: 20px;
  }
}
.pageIndex .horizontal > a {
  color: #111;
}
.pageIndex .horizontal > a span.iconimg {
  width: 25px;
  height: 25px;
  margin-right: 0.5rem;
}
.pageIndex .horizontal > a span:not(.iconimg) {
  text-decoration: underline;
}
@media (max-width: 1200px) {
  .pageIndex .top {
    height: 600px;
    grid-template-columns: 0% 100% 0%;
    padding-left: 0px;
    padding-right: 0px;
  }
  .pageIndex .top .left h1 {
    font-size: 3rem;
  }
  .pageIndex .top .left .main-p {
    font-size: 1.7rem;
  }
  .pageIndex .top .left .second-p {
    font-size: 1.7rem;
  }
}
@media (max-width: 960px) {
  .pageIndex .top {
    height: inherit;
    grid-template-columns: 0% 100% 0%;
  }
  .pageIndex .top .left {
    padding-left: 0px;
  }
  .pageIndex .top .left h1 {
    font-size: 2.4rem;
  }
  .pageIndex .top .left p {
    background: transparent;
    border: none;
    padding-left: 0px;
    text-align: justify;
  }
  .pageIndex .top .left .main-p,
.pageIndex .top .left .second-p {
    font-size: 1.5rem;
  }
  .pageIndex .section#getStartedSection {
    padding: 1rem 0 2rem;
  }
  .pageIndex .section#getStartedSection > div:nth-child(1) {
    margin: 0 auto 1rem;
  }
  .pageIndex .section#getStartedSection > div:nth-child(1) h2 {
    font-size: 1.4rem;
  }
}
@media (max-width: 767px) {
  .pageIndex .top {
    padding-top: 85px;
  }
  .pageIndex .top .left h1 {
    font-size: 2rem;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  }
  .pageIndex .top .left p {
    font-size: 1.5rem;
  }
  .pageIndex #headerSection {
    padding: 2rem 0.7rem 0;
  }
  .pageIndex #headerSection .textWrapper {
    width: auto;
  }
  .pageIndex #headerSection .textWrapper > p {
    width: 100%;
  }
  .pageIndex #headerSection .imgWrapper {
    display: none;
  }
  .pageIndex #headerSection .vidyaWrapper {
    padding: 3rem 0 0;
  }
  .pageIndex #headerSection .vidyaWrapper p {
    padding: 3rem 0 0;
    font-size: 1rem;
  }
  .pageIndex #headerSection h6:nth-child(3) {
    font-size: 0.9rem;
    margin: 0 auto 1rem;
    width: auto;
  }
  .pageIndex #headerSection > ul {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    padding: 1rem;
  }
  .pageIndex #headerSection > ul > li {
    margin: 0 0.5rem 0.8rem;
    width: auto;
  }
  .pageIndex #headerSection > ul li p {
    font-size: 0.9rem;
    margin-top: 0.3rem;
    width: 80%;
  }
  .pageIndex .section#getStartedSection {
    padding: 1rem 0.7rem 2rem;
  }
  .pageIndex .section#getStartedSection > div:nth-child(1) h2 {
    font-size: 1.1rem;
  }
}
@media (max-width: 650px) {
  .pageIndex .section#headerSection .imgWrapper {
    display: none;
  }
  .pageIndex .section#headerSection .textWrapper {
    width: auto;
  }
  .pageIndex .section#headerSection .textWrapper > h1 {
    font-size: 6vw;
  }
  .pageIndex .section .textWrapper,
.pageIndex .section .imgWrapper {
    display: block;
  }
  .pageIndex .section#headerSection > ul {
    display: block;
    margin: auto;
    padding: 1rem 0;
  }
  .pageIndex .section#headerSection > ul > li {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .pageIndex body {
    padding: 70px 0 379.5px;
  }
}

.pagePlatform #rchainSection {
  padding: 4rem 4rem 2rem;
}
.pagePlatform #rchainSection > h1 {
  font-size: 2.4rem;
  margin: 0 auto 0.7rem;
  text-align: center;
}
.pagePlatform #rchainSection > h3 {
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
}
.pagePlatform #rchainSection > p:nth-child(4) {
  font-size: 1.5rem;
  margin: auto;
  text-align: center;
  width: 70%;
}
.pagePlatform #rchainSection .section#rchainSection .wrapper {
  display: inline-block;
  padding-top: 8rem;
  width: 49%;
  vertical-align: top;
}
.pagePlatform #rchainSection > .wrapper:nth-child(5) {
  padding: 8rem 2rem 1rem 6rem;
}
.pagePlatform #rchainSection > .wrapper:nth-child(6) {
  padding: 8rem 6rem 1rem 2rem;
}
.pagePlatform #rchainSection .wrapper .textWrapper h2 {
  color: black;
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
}
.pagePlatform #rchainSection .wrapper .textWrapper p {
  margin: 0;
}
.pagePlatform .currentStateSection {
  opacity: 0.8;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, rgba(240, 240, 240, 0.1) 0, rgba(240, 240, 240, 0.1) 1px, #efefef 0, #efefef 50%);
  padding-bottom: 40px;
  color: #222;
}
.pagePlatform .currentStateSection .section {
  background: none;
}
.pagePlatform .currentStateSection p, .pagePlatform .currentStateSection ul {
  max-width: 1200px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #333;
}
.pagePlatform .currentStateSection ul li {
  font-size: 1.5rem;
}
.pagePlatform #posSection {
  padding: 4rem 4rem;
}
.pagePlatform #posSection .flexWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.pagePlatform #posSection .flexWrapper .imgWrapper {
  margin-bottom: 1.5rem;
  width: 45%;
}
.pagePlatform #posSection .flexWrapper .textWrapper {
  width: 45%;
}
.pagePlatform #posSection .flexWrapper .textWrapper h2 {
  color: black;
  font-size: 2rem;
  margin-bottom: 0.7rem;
}
.pagePlatform #posSection .flexWrapper .textWrapper ul {
  padding: 0 0 0 1.5rem;
}
.pagePlatform #posSection .flexWrapper .textWrapper ul li {
  margin-bottom: 1rem;
}
@media (max-width: 1200px) {
  .pagePlatform #rchainSection > .wrapper:nth-child(5) {
    padding: 8rem 2rem 1rem 0;
  }
  .pagePlatform #rchainSection > .wrapper:nth-child(6) {
    padding: 8rem 0 1rem 2rem;
  }
  .pagePlatform #rchainSection > p:nth-child(4) {
    width: 90%;
  }
  .pagePlatform #rchainSection .flexWrapper .textWrapper {
    padding-top: 8vw;
  }
  .pagePlatform #rchainSection .flexWrapper .textWrapper {
    padding-top: 3vw;
  }
  .pagePlatform #rchainSection .flexWrapper .textWrapper h2 {
    font-size: 2rem;
  }
  .pagePlatform #posSection .flexWrapper .imgWrapper {
    width: 47%;
  }
  .pagePlatform #posSection .flexWrapper .textWrapper {
    width: 47%;
  }
  .pagePlatform #posSection .flexWrapper .textWrapper h2 {
    margin: 0;
  }
}
@media (max-width: 960px) {
  .pagePlatform #rchainSection {
    padding: 4rem;
  }
  .pagePlatform #rchainSection > h1 {
    font-size: 1.6rem;
    margin: 0 auto 0.2rem;
  }
  .pagePlatform #rchainSection > h3 {
    font-size: 1.2rem;
  }
  .pagePlatform #rchainSection > p:nth-child(4) {
    font-size: 1rem;
  }
  .pagePlatform #rchainSection > .wrapper:nth-child(5) {
    padding: 5rem 1rem 1rem 0;
  }
  .pagePlatform #rchainSection > .wrapper:nth-child(6) {
    padding: 5rem 0 1rem 1rem;
  }
  .pagePlatform #rchainSection .wrapper .textWrapper h2 {
    font-size: 1.2rem;
    margin: 0.7rem 0 0.2rem;
  }
  .pagePlatform #rchainSection > div:nth-last-child(1) {
    font-size: 1.2rem;
  }
}
@media (max-width: 767px) {
  .pagePlatform #rchainSection {
    padding: 2rem 0.7rem;
  }
  .pagePlatform #rchainSection > .wrapper {
    width: 100%;
  }
  .pagePlatform #rchainSection > .wrapper:nth-child(5), .pagePlatform #rchainSection > .wrapper:nth-child(6) {
    padding: 1rem 0 2rem;
  }
  .pagePlatform #rchainSection > .wrapper > .imgWrapper {
    margin: 0 auto 1.5rem;
    padding: 2rem 3rem 0;
  }
  .pagePlatform #rchainSection > .wrapper > .textWrapper {
    margin: auto;
    text-align: center;
    width: 80%;
  }
  .pagePlatform #posSection {
    padding: 2rem 0.7rem;
  }
  .pagePlatform #posSection .flexWrapper {
    display: block;
  }
  .pagePlatform #posSection .flexWrapper .imgWrapper {
    padding: 0 8rem;
    width: auto;
  }
  .pagePlatform #posSection .flexWrapper .textWrapper {
    width: auto;
  }
  .pagePlatform #posSection .flexWrapper .textWrapper h2 {
    font-size: 1.2rem;
    text-align: center;
  }
  .pagePlatform #posSection .flexWrapper .textWrapper ul {
    padding: 0 4rem;
  }
}
@media (max-width: 650px) {
  .pagePlatform .section .textWrapper,
.pagePlatform .section .imgWrapper {
    display: block;
  }
  .pagePlatform .section#rchainSection .flexWrapper .textWrapper {
    width: 80%;
  }
  .pagePlatform .section#rchainSection .flexWrapper .imgWrapper {
    margin-bottom: 1rem;
    width: 100%;
  }
}
@media (max-width: 550px) {
  .pagePlatform #rchainSection > h1 {
    font-size: 7.5vw;
  }
  .pagePlatform #rchainSection > .wrapper > .imgWrapper {
    padding: 2rem 0 0;
  }
  .pagePlatform #rchainSection > .wrapper > .textWrapper {
    width: auto;
  }
  .pagePlatform .section#posSection > .flexWrapper .imgWrapper {
    padding: 0 4rem;
    width: auto;
  }
  .pagePlatform .section#posSection .flexWrapper .textWrapper ul {
    padding: 0 0 0 1.5rem;
  }
}
@media (max-width: 450px) {
  .pagePlatform .section#rchainSection > div:nth-last-child(1) {
    font-size: 4.5vw;
  }
  .pagePlatform .section#rchainSection .flexWrapper .textWrapper {
    width: 100%;
  }
}

.pageTeam {
  /* SCROLLBAR */
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.pageTeam .rchainSectionTop {
  background: linear-gradient(15deg, #42022e, #7a0a35);
}
.pageTeam .rchainSectionTop .inner .left {
  grid-column-start: 1;
  grid-column-end: 3;
}
.pageTeam .rchainSectionTop .inner .left p {
  font-size: 1.3rem;
  padding: 30px 0px;
}
.pageTeam .section#rchainSection {
  padding: 7rem 2rem;
  background-image: url("/assets/hero-background-leadership.png");
  background-position: center;
  background-size: cover;
  color: white;
}
.pageTeam .section#rchainSection p {
  font-size: 1.5rem;
  margin: 0 auto;
  text-align: center;
  width: 70%;
}
.pageTeam .section#rchainSection > .btn-blue2 {
  display: block;
  margin: auto;
  max-width: 460px;
  width: 100%;
}
.pageTeam .section#rchainSection > h1 {
  font-size: 2.4rem;
  margin: 0 auto 0.7rem;
  text-align: center;
}
.pageTeam .section#quoteSection {
  background: #42022e;
  padding: 4rem;
}
.pageTeam .section#quoteSection p {
  color: white;
  font-size: 2rem;
  margin: auto;
  position: relative;
  text-align: center;
  width: 80rem;
}
.pageTeam .section#quoteSection p span {
  color: #fcb415;
  font-size: 5rem;
  position: absolute;
}
.pageTeam .section#quoteSection p > span:nth-child(1) {
  left: -2rem;
  top: -1rem;
}
.pageTeam .section#quoteSection p > span:nth-child(2) {
  bottom: -4rem;
  right: 0;
}
.pageTeam .section#quoteSection h6 {
  color: white;
  font-size: 1rem;
  margin: 2rem;
  text-align: center;
  text-transform: uppercase;
}
.pageTeam .section#leadershipSection {
  padding: 4rem 2rem;
}
.pageTeam .section#leadershipSection .directorsTitle {
  text-align: center;
  font-size: 4rem;
  margin: 0 0 2rem 0;
}
.pageTeam .section#leadershipSection .flexWrapper {
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 0 5rem;
}
.pageTeam .section#leadershipSection .flexWrapper .card {
  position: relative;
  width: 30%;
  height: auto;
  margin: 1.25rem 0;
}
.pageTeam .section#leadershipSection .flexWrapper .imgWrapper {
  position: relative;
  width: 100%;
  height: auto;
}
.pageTeam .section#leadershipSection .flexWrapper .card img {
  display: block;
  width: 100%;
}
.pageTeam .section#leadershipSection .flexWrapper .card .bio {
  position: absolute;
  padding: 2rem;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  transition: 0.5s ease-in-out;
}
.pageTeam .section#leadershipSection .flexWrapper .card div.bio p {
  height: 100%;
  font-size: 18px;
  overflow-y: auto;
  margin: 0;
}
.pageTeam .section#leadershipSection .flexWrapper .card:nth-child(n):hover .bio:nth-child(n) {
  opacity: 1;
}
.pageTeam .section#leadershipSection .flexWrapper .card .textWrapper {
  padding: 1rem 0;
  color: black;
}
.pageTeam .section#leadershipSection .flexWrapper .card .textWrapper span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pageTeam .section#leadershipSection .flexWrapper .card .textWrapper span a {
  width: 7%;
  margin: 0.75rem;
}
.pageTeam .section#leadershipSection .flexWrapper .card .textWrapper h4 {
  font-size: 24px;
  width: 70%;
  margin: 0;
}
.pageTeam ::-webkit-scrollbar {
  width: 8px;
}
.pageTeam ::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}
.pageTeam ::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
.pageTeam ::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@media (max-width: 1500px) {
  .pageTeam .section#quoteSection p {
    width: 80vw;
  }
  .pageTeam .section#quoteSection p > span:nth-child(2) {
    right: -2rem;
    bottom: -3rem;
  }
}
@media (max-width: 1200px) {
  .pageTeam .section#rchainSection > p {
    width: 90%;
  }
  .pageTeam .section#leadershipSection .flexWrapper .card {
    width: 45%;
  }
}
@media (max-width: 960px) {
  .pageTeam .section#rchainSection {
    padding: 4rem;
  }
  .pageTeam .section#rchainSection > p {
    font-size: 1.25rem;
  }
  .pageTeam .section#rchainSection > h1 {
    font-size: 1.6rem;
  }
  .pageTeam .section#rchainSection > h1 {
    margin: 0 auto 0.2rem;
  }
  .pageTeam .section#leadershipSection .flexWrapper .card .textWrapper h4 {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .pageTeam p,
.pageTeam li {
    font-size: 1.25rem;
  }
  .pageTeam .section#rchainSection {
    padding: 2rem 0.7rem;
  }
  .pageTeam .section#leadershipSection .directorsTitle {
    font-size: 3rem;
    margin-top: 1rem;
  }
  .pageTeam .section#leadershipSection .flexWrapper {
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
  }
  .pageTeam .section#leadershipSection .flexWrapper .card .bio {
    padding: 1.5rem;
  }
  .pageTeam .section#leadershipSection .flexWrapper .card div.bio p {
    font-size: 0.9rem;
  }
  .pageTeam .section#quoteSection p {
    font-size: 3.3vw;
    width: 80vw;
  }
  .pageTeam .section#quoteSection p span {
    font-size: 10vw;
  }
  .pageTeam .section#quoteSection p > span:nth-child(2) {
    right: 0;
  }
  .pageTeam .section#rchainSection > a {
    font-size: 4vw;
    padding: 3vw 0;
    width: 90%;
  }
  .pageTeam .section#leadershipSection {
    padding: 1rem;
  }
}
@media (max-width: 550px) {
  .pageTeam .section#rchainSection > h1 {
    font-size: 7.5vw;
  }
  .pageTeam .section#rchainSection > p {
    font-size: 1rem;
  }
  .pageTeam .section#leadershipSection .directorsTitle {
    font-size: 2rem;
  }
  .pageTeam .section#leadershipSection .flexWrapper .card {
    width: 98%;
  }
  .pageTeam .section#leadershipSection .flexWrapper .card div.bio p {
    font-size: 1rem;
  }
  .pageTeam .section#quoteSection {
    padding: 2rem;
  }
  .pageTeam .section#quoteSection p > span:nth-child(1) {
    left: -1.5rem;
  }
  .pageTeam .section#quoteSection h6 {
    margin: 1rem;
  }
}
@media (max-width: 450px) {
  .pageTeam .section#leadershipSection .directorsTitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .pageTeam .section#quoteSection p > span:nth-child(2) {
    bottom: -2rem;
    right: 0;
  }
}

.pageDeveloper .section#developerSection #tab {
  display: flex;
  align-items: flex-start;
}
.pageDeveloper .section#developerSection #tab .item {
  width: auto;
  margin-right: 10px;
  font-size: 1.1rem;
  font-weight: 900;
  border: 1px solid rgba(0, 0, 0, 0);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.pageDeveloper .section#developerSection #tab > .item img {
  display: block;
  width: 3rem;
}
.pageDeveloper .section#developerSection #tab .item a {
  border-bottom: 2px solid white;
  text-decoration: none;
  padding: 10px;
  color: #484848;
}
.pageDeveloper .section#developerSection #tab .item.active > a {
  border-bottom: 3px solid #ff4143;
  color: #ff4143;
}
.pageDeveloper .section#developerSection .tabContent.active {
  display: block;
}
.pageDeveloper .section#developerSection .tabContent {
  display: none;
  padding-top: 20px;
  width: 70%;
}
.pageDeveloper .section#developerSection .tabContent > .textWrapper h2 {
  margin-bottom: 0.2rem;
}
.pageDeveloper .section#developerSection .tabContent > .textWrapper p {
  margin: auto;
  width: 50rem;
}
.pageDeveloper .section#developerSection .tabContent > .flexWrapper .textWrapper {
  text-align: left;
  max-width: 900px;
}
.pageDeveloper .list li {
  margin-bottom: 16px;
}
.pageDeveloper .instructions {
  padding-bottom: 50px;
}
.pageDeveloper .instructions .red {
  color: #911;
  font-weight: 400;
}
.pageDeveloper .instructions p {
  font-size: 1rem;
}
.pageDeveloper .instructions pre {
  margin-bottom: 30px;
}
.pageDeveloper .instructions h3 {
  padding-top: 30px;
}
.pageDeveloper .instructions .pk {
  white-space: unset;
  word-break: break-all;
  font-size: 1rem;
}
.pageDeveloper .instructions .path {
  font-size: 1rem;
}
.pageDeveloper .instructions ul {
  padding-left: 20px;
}
.pageDeveloper .instructions ul li {
  font-size: 1rem;
}
@media (max-width: 1200px) {
  .pageDeveloper .section#developerSection #tab {
    width: 80%;
  }
  .pageDeveloper .section#developerSection .tabContent {
    width: 80%;
  }
}
@media (max-width: 960px) {
  .pageDeveloper .section#headerSection .textWrapper > h1 {
    margin: 0 0 2rem;
  }
  .pageDeveloper .section#developerSection .tabContent > .textWrapper p {
    width: auto;
  }
}
@media (max-width: 767px) {
  .pageDeveloper .section#developerSection .tabContent {
    width: 95%;
  }
  .pageDeveloper .section#developerSection .flexWrapper {
    display: block;
  }
  .pageDeveloper .section#developerSection #tab .item {
    margin: 1rem 0 0;
  }
  .pageDeveloper .section#developerSection .tabContent > .textWrapper {
    margin-bottom: 2.5rem;
  }
  .pageDeveloper .section#developerSection .tabContent > .flexWrapper .textWrapper {
    margin-bottom: 1.5rem;
    width: auto;
  }
}

.pageRev .currentStateSection {
  opacity: 0.8;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, rgba(240, 240, 240, 0.1) 0, rgba(240, 240, 240, 0.1) 1px, #efefef 0, #efefef 50%);
  padding-bottom: 40px;
  color: #222;
}
.pageRev .currentStateSection .section {
  background: none;
}
.pageRev .currentStateSection p, .pageRev .currentStateSection ul {
  max-width: 1200px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #555;
}
.pageRev .currentStateSection p.supply {
  font-size: 2rem;
}
.pageRev .currentStateSection ul li {
  font-size: 1.5rem;
}
.pageRev #posSection {
  padding: 4rem 4rem;
}
.pageRev #posSection .flexWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.pageRev #posSection .flexWrapper .imgWrapper {
  margin-bottom: 1.5rem;
  width: 45%;
}
.pageRev #posSection .flexWrapper .textWrapper {
  width: 45%;
}
.pageRev #posSection .flexWrapper .textWrapper h2 {
  color: black;
  font-size: 2rem;
  margin-bottom: 0.7rem;
}
.pageRev #posSection .flexWrapper .textWrapper ul {
  padding: 0 0 0 1.5rem;
}
.pageRev #posSection .flexWrapper .textWrapper ul li {
  margin-bottom: 1rem;
}
@media (max-width: 1200px) {
  .pageRev #rchainSection > .wrapper:nth-child(5) {
    padding: 8rem 2rem 1rem 0;
  }
  .pageRev #rchainSection > .wrapper:nth-child(6) {
    padding: 8rem 0 1rem 2rem;
  }
  .pageRev #rchainSection > p:nth-child(4) {
    width: 90%;
  }
  .pageRev #rchainSection .flexWrapper .textWrapper {
    padding-top: 8vw;
  }
  .pageRev #rchainSection .flexWrapper .textWrapper {
    padding-top: 3vw;
  }
  .pageRev #rchainSection .flexWrapper .textWrapper h2 {
    font-size: 2rem;
  }
  .pageRev #posSection .flexWrapper .imgWrapper {
    width: 47%;
  }
  .pageRev #posSection .flexWrapper .textWrapper {
    width: 47%;
  }
  .pageRev #posSection .flexWrapper .textWrapper h2 {
    margin: 0;
  }
}
@media (max-width: 960px) {
  .pageRev #rchainSection {
    padding: 4rem;
  }
  .pageRev #rchainSection > h1 {
    font-size: 1.6rem;
    margin: 0 auto 0.2rem;
  }
  .pageRev #rchainSection > h3 {
    font-size: 1.2rem;
  }
  .pageRev #rchainSection > p:nth-child(4) {
    font-size: 1rem;
  }
  .pageRev #rchainSection > .wrapper:nth-child(5) {
    padding: 5rem 1rem 1rem 0;
  }
  .pageRev #rchainSection > .wrapper:nth-child(6) {
    padding: 5rem 0 1rem 1rem;
  }
  .pageRev #rchainSection .wrapper .textWrapper h2 {
    font-size: 1.2rem;
    margin: 0.7rem 0 0.2rem;
  }
  .pageRev #rchainSection > div:nth-last-child(1) {
    font-size: 1.2rem;
  }
}
@media (max-width: 767px) {
  .pageRev #rchainSection {
    padding: 2rem 0.7rem;
  }
  .pageRev #rchainSection > .wrapper {
    width: 100%;
  }
  .pageRev #rchainSection > .wrapper:nth-child(5), .pageRev #rchainSection > .wrapper:nth-child(6) {
    padding: 1rem 0 2rem;
  }
  .pageRev #rchainSection > .wrapper > .imgWrapper {
    margin: 0 auto 1.5rem;
    padding: 2rem 3rem 0;
  }
  .pageRev #rchainSection > .wrapper > .textWrapper {
    margin: auto;
    text-align: center;
    width: 80%;
  }
  .pageRev #posSection {
    padding: 2rem 0.7rem;
  }
  .pageRev #posSection .flexWrapper {
    display: block;
  }
  .pageRev #posSection .flexWrapper .imgWrapper {
    padding: 0 8rem;
    width: auto;
  }
  .pageRev #posSection .flexWrapper .textWrapper {
    width: auto;
  }
  .pageRev #posSection .flexWrapper .textWrapper h2 {
    font-size: 1.2rem;
    text-align: center;
  }
  .pageRev #posSection .flexWrapper .textWrapper ul {
    padding: 0 4rem;
  }
}
@media (max-width: 650px) {
  .pageRev .section .textWrapper,
.pageRev .section .imgWrapper {
    display: block;
  }
  .pageRev .section#rchainSection .flexWrapper .textWrapper {
    width: 80%;
  }
  .pageRev .section#rchainSection .flexWrapper .imgWrapper {
    margin-bottom: 1rem;
    width: 100%;
  }
}
@media (max-width: 550px) {
  .pageRev #rchainSection > h1 {
    font-size: 7.5vw;
  }
  .pageRev #rchainSection > .wrapper > .imgWrapper {
    padding: 2rem 0 0;
  }
  .pageRev #rchainSection > .wrapper > .textWrapper {
    width: auto;
  }
  .pageRev .section#posSection > .flexWrapper .imgWrapper {
    padding: 0 4rem;
    width: auto;
  }
  .pageRev .section#posSection .flexWrapper .textWrapper ul {
    padding: 0 0 0 1.5rem;
  }
}
@media (max-width: 450px) {
  .pageRev .section#rchainSection > div:nth-last-child(1) {
    font-size: 4.5vw;
  }
  .pageRev .section#rchainSection .flexWrapper .textWrapper {
    width: 100%;
  }
}

.pageClimate p {
  font-size: 1.5rem;
}

@font-face {
  font-family: fira;
  src: url("//fonts/FiraSans-Light.ttf");
  font-weight: 200;
}
@font-face {
  font-family: fira;
  src: url("/fonts/FiraSans-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: fira;
  src: url("/fonts/FiraSans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: fira;
  src: url("/fonts/FiraSans-Medium.ttf");
  font-weight: 700;
}
@font-face {
  font-family: ubuntu-mono;
  src: url("/fonts/UbuntuMono-R.ttf");
  font-weight: 700;
}
body {
  font-family: fira;
  font-weight: 300;
  color: #444;
}

label {
  font-weight: 400 !important;
}

strong,
b {
  font-weight: 700;
}

p,
ul,
li {
  font-weight: 300;
  font-size: 1.3rem;
}

@media (max-width: 960px) {
  p,
ul,
li {
    font-size: 1rem;
  }
}
.smaller-text {
  font-size: 0.9em;
}

.subtitle {
  font-weight: 200;
}

pre {
  font-family: ubuntu-mono;
}

.iconimg {
  display: inline-block;
  background-size: cover;
}

._mountain {
  background-image: url("/assets/_mountain.png");
}

._laptop {
  background-image: url("/assets/_laptop.png");
}

._target {
  background-image: url("/assets/_target.png");
}

._pin {
  background-image: url("/assets/_pin.png");
}

._fluffy {
  background-image: url("/assets/_fluffy.png");
}

._hearts {
  background-image: url("/assets/_hearts.png");
}

._controller {
  background-image: url("/assets/_controller.png");
}

._earth {
  background-image: url("/assets/_earth.png");
}

._bulb {
  background-image: url("/assets/_bulb.png");
}

.rchainSectionTop {
  background-image: url("/assets/rocks.jpg");
  background-size: cover;
  color: #eee;
  margin: 0px;
  padding-bottom: 50px;
  padding-top: 50px;
}
.rchainSectionTop .inner {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 50% 50%;
}
.rchainSectionTop .inner .left {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 20px;
}
.rchainSectionTop .inner .right {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rchainSectionTop .inner .right .img {
  width: 500px;
  height: 500px;
  background-size: cover;
}
.rchainSectionTop .img.ecosystem {
  background-image: url("/assets/ecosystem.jpg");
}
.rchainSectionTop .img.platform {
  background-image: url("/assets/platform.jpg");
}
.rchainSectionTop.red {
  background-image: linear-gradient(to top, #42022e, #ab0433);
}
.rchainSectionTop .section {
  background: transparent;
}
.rchainSectionTop h1 {
  font-size: 2.8rem;
  margin-top: 0px;
}
.rchainSectionTop h3 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 3px;
  margin-bottom: 0px;
  padding-bottom: 10px;
}
.rchainSectionTop h3:last-of-type {
  margin-bottom: 0px;
}
.rchainSectionTop p {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0px;
  padding-bottom: 40px;
  padding-top: 10px;
}

.rchainSectionTopCurve {
  margin: 0px;
  background: url(/assets/curve.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 0px;
  height: 120px;
  width: 100%;
}

@media (max-width: 960px) {
  .rchainSectionTop .inner {
    display: block;
  }
  .rchainSectionTop .inner .left {
    padding-left: 0px;
  }
  .rchainSectionTop .inner .left h1 {
    margin-bottom: 5px;
  }
  .rchainSectionTop .inner .right {
    justify-content: flex-start;
  }
  .rchainSectionTop .inner .right .img {
    width: 240px;
    height: 240px;
  }
}
.projects {
  display: flex;
  flex-wrap: wrap;
}
.projects > div {
  margin-right: 5px;
  width: 600px;
  height: 550px;
  position: relative;
  margin-bottom: 20px;
}
.projects > div .bg, .projects > div .content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.projects > div .bg.rchainmultisig {
  background-image: url(/assets/ecosystem_rchainmultisig.jpg);
}
.projects > div .bg.chinesebase {
  background-image: url(/assets/ecosystem_chinesebase.jpg);
}
.projects > div .bg.rchaintoken {
  background-image: url(/assets/ecosystem_rchaintoken.jpg);
}
.projects > div .bg.dappy {
  background-image: url(/assets/ecosystem_dappy.jpg);
}
.projects > div .bg {
  background-image: url(/assets/ecosystem.jpg);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.projects > div .content {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.projects > div .content h2 {
  font-size: 3.4rem;
}
.projects > div .content p {
  font-size: 1.5rem;
}
.projects > div .content .website {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.nav {
  position: fixed;
  top: 0px;
  text-align: center;
  width: 100%;
  z-index: 20;
  padding-left: 70px;
  padding-right: 70px;
  transition: all ease-in-out 0.2s;
  display: flex;
  justify-content: center;
}
.nav .wrapper {
  width: 1400px;
  display: flex;
  justify-content: space-between;
}
.nav .wrapper .item {
  position: relative;
  height: 60px;
  width: 160px;
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 1.1rem;
  align-items: center;
  border-bottom: 3px solid transparent;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.nav .wrapper .item.long {
  width: 250px;
}
.nav .wrapper .item img.hidden {
  display: none;
}
.nav .wrapper .item img {
  width: 120px;
  height: auto;
}
.nav .wrapper .item .btn-blue {
  font-size: 1.1rem;
  font-weight: 400;
  padding: 0.8rem 1rem;
}
.nav .wrapper .item a {
  text-decoration: none;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
.nav .wrapper .item > a {
  padding: 0.4rem 0.7rem;
}
.nav .wrapper .item:not(.with-dropdown):hover, .nav .wrapper .item:not(.long):hover {
  border-bottom: 3px solid transparent;
}
.nav .wrapper .item .dropdown-container {
  display: none;
}
.nav .wrapper .item.with-dropdown:hover .dropdown-container, .nav .wrapper .item.with-dropdown.openned .dropdown-container {
  display: block;
}
.nav .wrapper .item.with-dropdown a:hover {
  border-bottom: 3px solid transparent;
  border-color: #a50034;
}
.nav .wrapper .item:hover .arrow, .nav .wrapper .item.openned .arrow {
  transform: translateY(-18px) rotate(90deg);
}
.nav .wrapper .item .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-23px);
  right: 10px;
  font-size: 2rem;
  transition: transform ease-in-out 0.2s;
}
.nav.scroll {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav.scroll .item.links:not(.with-dropdown):hover, .nav.scroll .item.links:not(.long):hover {
  border-bottom: 3px solid #a50034;
  color: #a50034;
}
.nav.scroll .item > a {
  color: #333;
}
.nav.scroll .item .btn-blue {
  color: #fff;
}
.nav:not(.scroll) {
  background-color: transparent;
}
.nav:not(.scroll) .item > a {
  color: white;
}
.nav:not(.scroll) .item .btn-blue {
  color: #fff;
}

.dropdown-container {
  z-index: 21;
  display: none;
  position: absolute;
  top: 0px;
  padding-top: 65px;
  left: 0px;
  width: 290px;
}
.dropdown-container:hover {
  display: block;
}

.dropdown {
  background: #fff;
  border: 1px solid #111;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.dropdown a {
  height: 35px;
  color: #111;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav-mobile {
  display: none;
  position: fixed;
  z-index: 22;
  top: 10px;
  left: 10px;
}
.nav-mobile .menu-icon {
  padding: 10px;
  background: #fff;
  border: 1px solid #111;
  margin-bottom: 5px;
}
.nav-mobile .menu-icon a {
  color: #111;
  height: 35px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.nav-mobile a {
  font-size: 1rem;
  height: 34px;
}
.nav-mobile .dropdown.hidden {
  display: none;
}

@media (max-width: 1200px) {
  .nav .wrapper {
    width: 1100px;
  }
  .nav .wrapper .item .btn-blue {
    font-size: 0.9rem;
    padding: 0.3rem 0.3rem;
  }
}
@media (max-width: 960px) {
  .nav-mobile {
    display: block;
  }

  .nav {
    display: none;
  }
  .nav .wrapper {
    width: 1000px;
  }
  .nav .wrapper .item .btn-blue {
    font-size: 0.9rem;
    padding: 0.3rem 0.3rem;
  }
  .nav .wrapper .item a {
    padding: 0.3rem 0.3rem;
  }
}
#communitySection {
  background: #fafafa;
}
#communitySection .iconimg {
  width: 1.3rem;
  height: 1.3rem;
}
#communitySection .section {
  background: transparent;
  padding: 4rem 4rem 3rem;
}
#communitySection .section p.big-and-light {
  font-size: 1.5rem;
  color: #555;
}
#communitySection .section > div:nth-child(1) {
  margin: 0 auto 3rem;
  text-align: center;
  width: 80%;
}
#communitySection .section > div:nth-child(1) h6 {
  color: red;
  font-size: 0.8rem;
  margin: 0;
  text-transform: uppercase;
}
#communitySection .section > div:nth-child(1) h2 {
  font-size: 2rem;
  margin: 0.5rem 0 0.5rem;
}
#communitySection .section .flexWrapper {
  max-width: 600px;
  margin: 0px auto;
}
#communitySection .section .flexWrapper.social > div img {
  width: 40px;
  height: 40px;
}
#communitySection .section .flexWrapper > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 160px;
}
#communitySection .section .flexWrapper > div img {
  width: 100px;
}

@media (max-width: 960px) {
  #communitySection .section > div:nth-child(1) h2 {
    font-size: 1.4rem;
  }
  #communitySection .section > .flexWrapper:nth-child(3) .flexWrapper a {
    font-size: 0.9rem;
  }
}
@media (max-width: 767px) {
  #communitySection .section {
    padding: 4rem 0.7rem 1rem;
  }
  #communitySection .section > div:nth-child(1) h2 {
    font-size: 1.1rem;
  }
  #communitySection .section > .flexWrapper:nth-child(3) {
    display: block;
  }
  #communitySection .section > .flexWrapper:nth-child(3) > .flexWrapper:nth-child(1) {
    margin-bottom: 2rem;
    width: 100%;
  }
  #communitySection .section > .flexWrapper:nth-child(2) {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  #communitySection .section > .flexWrapper:nth-child(2) > div {
    margin: 0 0.5rem 0.3rem;
    width: 140px;
  }
  #communitySection .section > .flexWrapper:nth-child(3) .flexWrapper h2, #communitySection .section > .flexWrapper:nth-child(3) .flexWrapper h2 {
    text-align: center;
  }
  #communitySection .section > .flexWrapper:nth-child(3) > .flexWrapper:nth-child(2) {
    display: block;
    width: auto;
  }
  #communitySection .section > .flexWrapper:nth-child(3) > div:nth-child(2) img {
    display: block;
    margin: auto;
    width: 25rem;
  }
  #communitySection .section > .flexWrapper:nth-child(3) .flexWrapper a {
    display: block;
  }
}
@media (max-width: 650px) {
  #communitySection > .section > .flexWrapper:nth-child(2) {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
  }
}
@media (max-width: 550px) {
  #communitySection .section > div:nth-child(1) {
    width: 100%;
  }

  #communitySection .section > .flexWrapper:nth-child(3) > div:nth-child(2) img {
    width: 100%;
  }
}
#rhoSection {
  background-image: url("/assets/rho2.jpg");
  background-position: center;
  background-size: cover;
}
#rhoSection .section {
  padding-top: 100px;
  padding-bottom: 100px;
  background: transparent;
}
#rhoSection .section > div:nth-child(1) {
  text-align: center;
}
#rhoSection .section > div:nth-child(1) h3 {
  color: #ff4143;
  font-size: 1.8rem;
  margin: 0 0 0.5rem;
}
#rhoSection .section > div:nth-child(1) h2 {
  color: white;
  font-size: 2rem;
  margin: 0 0 0.5rem;
}
#rhoSection .section > div:nth-child(1) p {
  color: white;
  margin: 0 0 6rem;
}
#rhoSection .section > .flexWrapper h3 {
  color: #ffcccc;
  font-size: 2.3rem;
  margin-right: 2rem;
  width: 30%;
}
#rhoSection .section > .flexWrapper > .flexWrapper {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 70%;
}
#rhoSection .section > .flexWrapper > .flexWrapper p {
  border: 1px solid #80113a;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 0.3rem;
  margin: 0 0.5rem 1rem;
  width: 47%;
  color: #fff;
  padding: 0.8rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#rhoSection .section > .flexWrapper:nth-child(2) {
  margin-bottom: 2rem;
}

@media (max-width: 1200px) {
  #rhoSection > .flexWrapper h3 {
    font-size: 2.1rem;
  }
}
@media (max-width: 960px) {
  #rhoSection .section > div:nth-child(1) p {
    margin: 0 0 2rem;
    font-size: 1.2rem;
  }
  #rhoSection .section > .flexWrapper h3 {
    font-size: 1.7rem;
    display: block;
    width: 100%;
  }
  #rhoSection .section > .flexWrapper {
    width: 100%;
    display: block;
  }
  #rhoSection .section > .flexWrapper > .flexWrapper {
    width: 100%;
  }
  #rhoSection .section > .flexWrapper > .flexWrapper p {
    width: 100%;
    text-align: left;
    font-size: 1.2rem;
  }
}
@media (max-width: 767px) {
  #rhoSection .section {
    padding: 2rem 0.7rem;
  }
  #rhoSection .section > div:nth-child(1) p {
    margin: 0 0 2rem;
  }
  #rhoSection .section > div:nth-child(1) h2 {
    font-size: 1.6rem;
  }
  #rhoSection .section > .flexWrapper:nth-child(2) {
    display: block;
  }
  #rhoSection .section > .flexWrapper:nth-child(3) {
    display: block;
  }
  #rhoSection .section > .flexWrapper h3 {
    text-align: center;
    width: auto;
  }
  #rhoSection .section > .flexWrapper > .flexWrapper {
    width: auto;
  }
}
@media (max-width: 550px) {
  #rhoSection > .flexWrapper h3 {
    font-size: 5vw;
  }
  #rhoSection > .flexWrapper > .flexWrapper {
    display: block;
  }
  #rhoSection > .flexWrapper > .flexWrapper p {
    width: auto;
  }
}
.timelineExtendedSection {
  background-image: url("/assets/extendedtimeline.jpg");
  background-position: center;
  background-size: cover;
  color: #eee;
  padding-top: 20px;
  padding-bottom: 40px;
}
.timelineExtendedSection .iconimg {
  width: 40px;
  height: 40px;
}
.timelineExtendedSection .section {
  background: transparent;
}
.timelineExtendedSection .section h2 {
  margin: 0 auto 0;
  margin-bottom: 0;
  font-size: 3rem;
}
.timelineExtendedSection .section > ul {
  position: relative;
  list-style: none;
}
.timelineExtendedSection .section > ul:before {
  width: 1px;
  background-color: #eee;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
}
.timelineExtendedSection .section > ul > li {
  position: relative;
}
.timelineExtendedSection .section > ul > li.future {
  color: #b20f3d;
  font-size: 1.8rem;
}
.timelineExtendedSection .section > ul > li.passed {
  font-size: 1.8rem;
}
.timelineExtendedSection .section > ul > li ul {
  list-style: none;
}
.timelineExtendedSection .section > ul > li a {
  color: #33e;
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 1.2rem;
}
.timelineExtendedSection .section > ul > li h4 .date {
  padding-right: 24px;
  position: relative;
}
.timelineExtendedSection .section > ul > li h4 .date:after {
  position: absolute;
  content: "-";
  right: 8px;
  top: 0px;
}
.timelineExtendedSection .section > ul > li:not(.future):not(.passed):before {
  width: 8px;
  height: 8px;
  border-radius: 6px;
  background-color: #eee;
  position: absolute;
  top: 6px;
  left: -43px;
  content: "";
}
.timelineExtendedSection .section > ul > li .description {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 18px 8px;
  border: 1px solid #555;
  font-size: 1.1rem;
  max-width: 850px;
}
.timelineExtendedSection .section > ul > li .description ul {
  margin-top: 5px;
  padding-left: 10px;
}
.timelineExtendedSection .section > ul > li .description ul li {
  font-size: 1.1rem;
  padding-bottom: 4px;
}

#footer {
  margin-top: 80px;
  margin-bottom: 40px;
}
#footer .social-media {
  grid-row: 1;
  grid-column: 3;
}
#footer .social-media h4 {
  text-align: right;
  font-size: 1.3rem;
  color: #444;
}
#footer .social-media .social-media-icons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
#footer .social-media .social-media-icons > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer .social-media .social-media-icons > div img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
#footer .sitemap {
  grid-row: 1;
  grid-column: 2;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 4fr 4fr 2fr;
}
#footer .sitemap > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#footer .sitemap > div > div {
  margin-bottom: 10px;
}
#footer .sitemap > div > div a {
  color: #444;
}
#footer .sitemap > div > div a:hover {
  color: #111;
}
#footer .footer-bot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
#footer .footer-bot p {
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 0px;
}
#footer .footer-bot img {
  width: 120px;
}

@media (max-width: 700px) {
  #footer .footer-top {
    display: grid;
    grid-template-rows: 220px 200px;
    grid-template-columns: 10px auto 10px;
  }
  #footer .footer-top .sitemap {
    grid-row: 1;
    grid-column: 2;
  }
  #footer .footer-top .social-media {
    grid-row: 2;
    grid-column: 2;
  }
  #footer .footer-top .social-media h4 {
    text-align: center;
  }
  #footer .footer-top .social-media .social-media-icons {
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 1200px) and (min-width: 701px) {
  #footer .footer-top {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 10px 60% 40% 10px;
  }
}
@media (min-width: 1201px) {
  #footer .footer-top {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: auto 800px 400px auto;
  }
}
.btn-dark-and-transparent {
  border: 1px solid #fff;
  background: linear-gradient(20deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.9));
  color: #111;
  font-size: 1.8rem;
  padding: 1.1rem 2.1rem;
}
.btn-dark-and-transparent:hover {
  background: linear-gradient(20deg, rgba(255, 255, 255, 0.9), white);
}

.btn-rchain {
  border-radius: 0.18rem;
  display: inline-block;
  font-size: 1.5rem;
  padding: 0.9rem 2rem;
  text-decoration: none;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.btn-blue {
  color: #fff;
  background-image: linear-gradient(15deg, #50badd, #50badd);
}
.btn-blue:hover {
  color: #50badd;
  color: #fff;
}

.btn-red {
  background: linear-gradient(15deg, #630c2c, #ad0c37);
  border: none;
  color: #eee;
}
.btn-red:hover {
  background: linear-gradient(15deg, #730f2f, #b20f3d);
}

.btn-underlined {
  transition: all 0.2s ease-in-out;
  font-weight: 500;
  font-size: 1.5rem;
  /* text-decoration: underline; */
  padding: 1rem 2rem;
  color: #111;
  background: #fff;
  text-decoration: none;
}
.btn-underlined:hover {
  transform: scale(1.02);
  background: rgba(255, 255, 255, 0.8);
}

@media (max-width: 960px) {
  .btn-rchain {
    font-size: 1.2rem;
    padding: 0.7rem 1.5rem;
  }
}
@media (max-width: 550px) {
  .btn-rchain {
    display: block;
    margin: auto;
    width: 95%;
  }
}
.message {
  padding: 8px;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 2px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.message.orange {
  background-color: #ffe08a;
  color: #111;
}

@media (max-width: 960px) {
  p,
li {
    font-size: 1.2rem;
  }
}
.text-center {
  text-align: center;
}

.fc {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  margin-bottom: 0px;
  font-size: 1.8rem;
}

.divider {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider.fafafa {
  background: #fafafa;
}
.divider > div {
  background: #a50034;
  height: 3px;
  width: 6rem;
}

.horizontal-nav-cover {
  height: 60px;
  width: 100vw;
  background: linear-gradient(20deg, #111 10%, #222 80%, #555 90%);
}
