#communitySection {
  background: #fafafa;
  .section {
    background: transparent;
    padding: 4rem 4rem 3rem;
    p.big-and-light {
      font-size: 1.5rem;
      color: #555;
    }
    & > div:nth-child(1) {
      margin: 0 auto 3rem;
      text-align: center;
      width: 80%;
    }

    & > div:nth-child(1) h6 {
      color: red;
      font-size: 0.8rem;
      margin: 0;
      text-transform: uppercase;
    }

    & > div:nth-child(1) h2 {
      font-size: 2rem;
      margin: 0.5rem 0 0.5rem;
    }

    .flexWrapper {
      max-width: 600px;
      margin: 0px auto;
      &.social {
        & > div img {
          width: 40px;
          height: 40px;
        }
      }
      & > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 160px;
        img {
          width: 100px;
        }
      }
    }
  }
}

@media (max-width: 960px) {
  #communitySection {
    .section {
      & > div:nth-child(1) h2 {
        font-size: 1.4rem;
      }
      & > .flexWrapper:nth-child(3) .flexWrapper a {
        font-size: 0.9rem;
      }
    }
  }
}

@media (max-width: 767px) {
  #communitySection {
    .section {
      padding: 4rem 0.7rem 1rem;
      & > div:nth-child(1) h2 {
        font-size: 1.1rem;
      }
      & > .flexWrapper:nth-child(3) {
        display: block;
      }
      & > .flexWrapper:nth-child(3) > .flexWrapper:nth-child(1) {
        margin-bottom: 2rem;
        width: 100%;
      }
      & > .flexWrapper:nth-child(2) {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
      & > .flexWrapper:nth-child(2) > div {
        margin: 0 0.5rem 0.3rem;
        width: 140px;
      }
      & > .flexWrapper:nth-child(3) .flexWrapper h2,
      & > .flexWrapper:nth-child(3) .flexWrapper h2 {
        text-align: center;
      }
      & > .flexWrapper:nth-child(3) > .flexWrapper:nth-child(2) {
        display: block;
        width: auto;
      }
      & > .flexWrapper:nth-child(3) > div:nth-child(2) img {
        display: block;
        margin: auto;
        width: 25rem;
      }
      & > .flexWrapper:nth-child(3) .flexWrapper a {
        display: block;
      }
    }
  }
}
@media (max-width: 650px) {
  #communitySection > .section > .flexWrapper:nth-child(2) {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
  }
}
@media (max-width: 550px) {
  #communitySection .section > div:nth-child(1) {
    width: 100%;
  }
  #communitySection
    .section
    > .flexWrapper:nth-child(3)
    > div:nth-child(2)
    img {
    width: 100%;
  }
}
