@font-face {
  font-family: fira;
  src: url("//fonts/FiraSans-Light.ttf");
  font-weight: 200;
}

@font-face {
  font-family: fira;
  src: url("/fonts/FiraSans-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: fira;
  src: url("/fonts/FiraSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: fira;
  src: url("/fonts/FiraSans-Medium.ttf");
  font-weight: 700;
}

@font-face {
  font-family: ubuntu-mono;
  src: url("/fonts/UbuntuMono-R.ttf");
  font-weight: 700;
}

body {
  font-family: fira;
  font-weight: 300;
  color: #444;
}
label {
  font-weight: 400 !important;
}
strong,
b {
  font-weight: 700;
}
p,
ul,
li {
  font-weight: 300;
  font-size: 1.3rem;
}
@media (max-width: 960px) {
  p,
  ul,
  li {
    font-size: 1rem;
  }
}

.smaller-text {
  font-size: 0.9em;
}
.subtitle {
  font-weight: 200;
}
pre {
  font-family: ubuntu-mono;
}
