#footer {
  margin-top: 80px;
  margin-bottom: 40px;
  .social-media {
    grid-row: 1;
    grid-column: 3;
    h4 {
      text-align: right;
      font-size: 1.3rem;
      color: #444;
    }
    .social-media-icons {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      & > div {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 40px;
          height: 40px;
          margin-right: 10px;
        }
      }
    }
  }
  .sitemap {
    grid-row: 1;
    grid-column: 2;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 4fr 4fr 2fr;
    & > div {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      & > div {
        margin-bottom: 10px;
        a {
          color: #444;
          &:hover {
            color: #111;
          }
        }
      }
    }
  }
  .footer-bot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    p {
      font-size: 1rem;
      margin-top: 5px;
      margin-bottom: 0px;
    }
    img {
      width: 120px;
    }
  }
}
@media (max-width: 700px) {
  #footer {
    .footer-top {
      display: grid;
      grid-template-rows: 220px 200px;
      grid-template-columns: 10px auto 10px;
      .sitemap {
        grid-row: 1;
        grid-column: 2;
      }
      .social-media {
        grid-row: 2;
        grid-column: 2;
        h4 {
          text-align: center;
        }
        .social-media-icons {
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
@media (max-width: 1200px) and (min-width: 701px) {
  #footer {
    .footer-top {
      display: grid;
      grid-template-rows: 100%;
      grid-template-columns: 10px 60% 40% 10px;
    }
  }
}
@media (min-width: 1201px) {
  #footer {
    .footer-top {
      display: grid;
      grid-template-rows: 100%;
      grid-template-columns: auto 800px 400px auto;
    }
  }
}
