@import "./pages/community.scss";
@import "./pages/hackaton.scss";
@import "./pages/index.scss";
@import "./pages/platform.scss";
@import "./pages/team.scss";
@import "./pages/developer.scss";

@import "./fonts.scss";
@import "./rchainSectionTop.scss";
@import "./projects.scss";
@import "./nav.scss";
@import "./communitySection.scss";
@import "./rhoSection.scss";
@import "./timelineExtendedSection.scss";
@import "./footer.scss";
@import "./buttons.scss";

@media (max-width: 960px) {
  p,
  li {
    font-size: 1.2rem;
  }
}

.text-center {
  text-align: center;
}

.fc {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  margin-bottom: 0px;
  font-size: 1.8rem;
}
