.pageGetStarted {
  .section#developerSection #tab {
    display: flex;
    align-items: flex-start;
  }

  .section#developerSection #tab .item {
    width: auto;
    margin-right: 10px;
    font-size: 1.1rem;
    font-weight: 900;
    border: 1px solid rgba(0, 0, 0, 0);
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .section#developerSection #tab > .item img {
    display: block;
    width: 3rem;
  }

  .section#developerSection #tab .item a {
    border-bottom: 2px solid white;
    text-decoration: none;
    padding: 10px;
    color: #484848;
  }

  .section#developerSection #tab .item.active > a {
    border-bottom: 3px solid #ff4143;
    color: #ff4143;
  }

  .section#developerSection .tabContent.active {
    display: block;
  }

  .section#developerSection .tabContent {
    display: none;
    padding-top: 20px;
    width: 70%;
  }

  .section#developerSection .tabContent > .textWrapper h2 {
    margin-bottom: 0.2rem;
  }

  .section#developerSection .tabContent > .textWrapper p {
    margin: auto;
    width: 50rem;
  }

  .section#developerSection .tabContent > .flexWrapper .textWrapper {
    text-align: left;
    max-width: 900px;
  }

  .list li {
    margin-bottom: 16px;
  }

  .instructions {
    pre {
      white-space: break-spaces;
      word-break: normal;
      background-color: rgb(37, 37, 95);
      color: #fff;
      padding-top: 16px;
      padding-bottom: 12px;
      padding-left: 12px;
      padding-right: 12px;
      border-radius: 2px;
      line-height: 1.6rem;
    }
    .pk {
      white-space: unset;
      word-break: break-all;
      font-size: 1rem;
    }
    .path {
      font-size: 1rem;
    }
    ul {
      padding-left: 13px;
      li {
        font-size: 0.9rem;
      }
    }
  }

  @media (max-width: 1200px) {
    .section#developerSection #tab {
      width: 80%;
    }
    .section#developerSection .tabContent {
      width: 80%;
    }
  }

  @media (max-width: 960px) {
    .section#headerSection .textWrapper > h1 {
      margin: 0 0 2rem;
    }
    .section#developerSection .tabContent > .textWrapper p {
      width: auto;
    }
  }

  @media (max-width: 767px) {
    .section#developerSection .tabContent {
      width: 95%;
    }
    .section#developerSection .flexWrapper {
      display: block;
    }
    .section#developerSection #tab .item {
      margin: 1rem 0 0;
    }
    .section#developerSection .tabContent > .textWrapper {
      margin-bottom: 2.5rem;
    }
    .section#developerSection .tabContent > .flexWrapper .textWrapper {
      margin-bottom: 1.5rem;
      width: auto;
    }
  }
}
