.pageIndex {
  .topSection {
    background: linear-gradient(20deg, #111, #111116);
    margin: 0px;
    padding-bottom: 40px;
    background: url("/assets/mountaindark1920.jpg");
    background-size: cover;
    background-position-y: bottom;
    background-position-x: center;
    .section {
      background: transparent;
    }
  }
  .top {
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 0% 100% 0%;
    grid-template-rows: 100%;
    padding-left: 50px;
    padding-right: 50px;
    height: 800px;

    color: #fff;
    .mainnet-live {
      margin-top: 15px;
      font-size: 1rem;
      margin-bottom: 20px;
      color: #4d4;
      display: flex;
      align-items: center;
      text-decoration: none;
      i {
        background-color: #4d4;
        width: 16px;
        height: 16px;
        border-radius: 16px;
        margin-right: 5px;
      }
    }
    .btn-blue {
      background: linear-gradient(15deg, #630c2c, #ad0c37);
      &:hover {
        background: linear-gradient(15deg, #730f2f, #b20f3d);
      }
      border: none;
      color: #eee;
    }
    .left {
      grid-row: 1;
      grid-column: 2;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      position: relative;
      padding-left: 262px;
      .timeline-cont {
        pointer-events: none;
        top: 0px;
        left: 0px;
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        .timeline {
          position: relative;
          height: 262px;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          flex-direction: column;
          & > div {
            position: relative;
            padding-left: 10px;
            .event {
              font-weight: 800;
              font-size: 1.2rem;
              transform: translateY(-8px);
              display: block;
            }
            .date {
              transform: translateY(-4px);
              display: block;
              font-size: 1rem;
            }
            &:last-of-type {
              &:before {
              }
            }
            &:before {
              width: 8px;
              height: 8px;
              border-radius: 8px;
              display: block;
              background-color: #fff;
              position: absolute;
              top: -2px;
              left: -3px;
              content: "";
            }
          }
          &:before {
            width: 2px;
            height: 100%;
            display: block;
            background-color: #fff;
            position: absolute;
            top: 0px;
            left: 0px;
            content: "";
          }
        }
      }
      h1,
      p {
        margin: 0px;
      }
      h1 {
        font-size: 3.6rem;
        font-weight: 700;
      }
      p {
        margin-top: 10px;
        font-weight: 300;
        font-size: 1.9rem;
        border: 1px solid #630c2c;
        background: linear-gradient(
          15deg,
          rgb(99, 12, 44, 0.5),
          rgb(173, 12, 55, 0.2)
        );
        //background-color: rgba(255, 255, 255, 0.5);
        color: #fff;
        padding: 8px;
        border-radius: 2px;
        b {
          font-weight: bold;
        }
      }
    }
    .right {
      grid-row: 1;
      grid-column: 2;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      background-size: cover;
    }
  }

  #headerSection {
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 4rem 4rem 0;
    max-width: initial;
    .textWrapper {
      text-align: center;
      & > h1 {
        color: white;
        font-size: 2.2rem;
        margin-bottom: 0.5rem;
      }
      & > p {
        color: white;
        margin: 0 auto 1.5rem;
        width: 40rem;
      }
    }
    .vidyaWrapper {
      padding: 6rem 0 0;
      margin-bottom: 3rem;
      text-align: center;
    }
    .vidyaWrapper video {
      background: black;
      object-fit: initial;
    }
    & > ul {
      padding: 0px;
      margin: 10px auto;
      max-width: 1200px;
      display: flex;
      justify-content: center;
      list-style-type: none;
    }

    & > ul li {
      width: 19rem;
    }

    & > ul li img {
      display: inline-block;
      margin-right: 0.5rem;
      width: 3rem;
      vertical-align: top;
    }

    & > ul li p {
      display: inline-block;
      font-size: 0.95rem;
      margin-top: 0;
      width: 70%;
    }
  }

  #rhoRevolutionSection {
    background-image: url("/assets/rho.jpg");
    background-position: center;
    background-size: cover;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 40px;
    .section {
      background: transparent;
      h1.rhoRevolution {
        margin: 0 auto 0;
        margin-bottom: 0;
        font-size: 3rem;
      }
    }
  }

  #getStartedSection {
    padding: 2rem 0 3rem;
    & > div:nth-child(1) {
      margin: 0 auto 2rem;
      text-align: center;
      width: 80%;
    }

    & > div:nth-child(1) h2 {
      font-size: 2rem;
      margin: 0.5rem 0 0.5rem;
    }

    & > div:nth-child(2) {
      text-align: center;
    }
  }

  @media (max-width: 1200px) {
    .top {
      height: 600px;
      grid-template-columns: 0% 100% 0%;
      padding-left: 0px;
      padding-right: 0px;
      .left {
        h1 {
          font-size: 3rem;
        }
        p {
          font-size: 1.7rem;
        }
      }
    }
    #headerSection {
      background-repeat: no-repeat;
      background-size: 100%;
      .vidyaWrapper {
        padding: 4rem 0 0;
      }
      .vidyaWrapper video {
        height: 100%;
        width: 100%;
      }
    }
    .section#rhoSection {
      & > h3 {
        margin: 0 0 4rem;
      }
      .flexWrapper .textWrapper {
        padding-top: 3vw;
      }
      .flexWrapper .textWrapper h2 {
        font-size: 2rem;
      }
    }
  }

  @media (max-width: 960px) {
    .top {
      height: inherit;
      grid-template-columns: 0% 100% 0%;
      .left {
        padding-left: 0px;
        h1 {
          font-size: 2.4rem;
        }
        p {
          font-size: 1.5rem;
        }
        .timeline-cont {
          position: relative;
          height: auto;
          .timeline {
            height: auto;
            flex-direction: row;
            width: 100%;
            padding-top: 20px;
            margin-top: 60px;
            &:before {
              height: 2px;
              width: 100%;
            }
            & > div {
              padding: 0px;
              text-align: center;
              &:before {
                top: -23px;
                left: 50%;
              }
            }
          }
        }
      }
    }
    #headerSection {
      padding: 8rem 4rem 0;
      .textWrapper > p {
        width: 30rem;
        font-size: 1.4rem;
      }
      .textWrapper > h1,
      .textWrapper .btn-red {
        font-size: 1.1rem;
        padding: 0.5rem 1.5rem;
      }
      h6:nth-child(3) {
        font-size: 1rem;
        width: 90%;
      }
      & > ul {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
      }
      & > ul > li {
        font-size: 0.8rem;
        margin: 0 0.5rem 0.8rem;
        width: 46%;
      }
      & > ul li p {
        width: 80%;
      }
    }
    #rhoSection {
      & > h1 {
        margin: 0 auto 0.2rem;
      }
      & > h3 {
        font-size: 1.2rem;
      }
      .flexWrapper .textWrapper h2 {
        font-size: 1.4rem;
        margin-bottom: 0.4rem;
      }
      & > div:nth-last-child(1) {
        font-size: 1.2rem;
      }
    }
    .section#getStartedSection {
      padding: 1rem 0 2rem;
    }
    .section#getStartedSection > div:nth-child(1) {
      margin: 0 auto 1rem;
    }
    .section#getStartedSection > div:nth-child(1) h2 {
      font-size: 1.4rem;
    }
  }

  @media (max-width: 767px) {
    .top {
      padding-top: 85px;
      .left h1 {
        font-size: 2rem;
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
      }
      .left p {
        font-size: 1.2rem;
        background: linear-gradient(
          15deg,
          rgba(99, 12, 44, 0.8),
          rgba(173, 12, 55, 0.4)
        );
      }
    }
    #headerSection {
      padding: 2rem 0.7rem 0;
      .textWrapper {
        width: auto;
      }
      .textWrapper > p {
        width: 100%;
      }
      .imgWrapper {
        display: none;
      }
      .vidyaWrapper {
        padding: 3rem 0 0;
      }
      .vidyaWrapper p {
        padding: 3rem 0 0;
        font-size: 1rem;
      }
      h6:nth-child(3) {
        font-size: 0.9rem;
        margin: 0 auto 1rem;
        width: auto;
      }
      & > ul {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
        padding: 1rem;
      }
      & > ul > li {
        margin: 0 0.5rem 0.8rem;
        width: auto;
      }
      & > ul li p {
        font-size: 0.9rem;
        margin-top: 0.3rem;
        width: 80%;
      }
    }

    #rhoSection {
      .flexWrapper .textWrapper h2 {
        font-size: 1.1rem;
      }
      .flexWrapper .textWrapper {
        padding-top: initial;
      }
      & > div:nth-last-child(1) {
        font-size: 1rem;
        margin-bottom: 2rem;
      }
    }
    .section#getStartedSection {
      padding: 1rem 0.7rem 2rem;
    }
    .section#getStartedSection > div:nth-child(1) h2 {
      font-size: 1.1rem;
    }
  }

  @media (max-width: 650px) {
    .section#headerSection .imgWrapper {
      display: none;
    }
    .section#rhoSection .flexWrapper {
      display: block;
      margin-bottom: 3rem;
    }
    .section#headerSection .textWrapper {
      width: auto;
    }
    .section#rhoSection .flexWrapper .imgWrapper {
      padding: 0 6rem;
    }
    .section#rhoSection .flexWrapper .textWrapper {
      margin: auto;
      text-align: center;
    }
    .section#headerSection .textWrapper > h1,
    .section#rhoSection > h1 {
      font-size: 6vw;
    }
    .section .textWrapper,
    .section .imgWrapper {
      display: block;
    }
    .section#rhoSection .flexWrapper .textWrapper {
      width: 80%;
    }
    .section#headerSection > ul {
      display: block;
      margin: auto;
      padding: 1rem 0;
    }
    .section#headerSection > ul > li {
      width: 100%;
    }
    .section#rhoSection .flexWrapper .imgWrapper {
      margin-bottom: 1rem;
      width: 100%;
    }
  }

  @media (max-width: 550px) {
    body {
      padding: 70px 0 379.5px;
    }
    .section#rhoSection > h1 {
      font-size: 7.5vw;
    }
    .section#rhoSection > div:nth-last-child(1) {
      margin-bottom: 1rem;
    }
  }

  @media (max-width: 450px) {
    .section#rhoSection > div:nth-last-child(1) {
      font-size: 4.5vw;
    }
    .section#rhoSection .flexWrapper .textWrapper {
      width: 100%;
    }
  }
}
