.pageIndex {
  .topSection {
    background: linear-gradient(20deg, #111, #111116);
    margin: 0px;
    padding-bottom: 40px;
    background: url("/assets/mountaindark1920.jpg");
    background-size: cover;
    background-position-y: bottom;
    background-position-x: center;
    .section {
      background: transparent;
    }
  }
  .alert {
    background-color: #ad0c37;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 25px;
    margin-top: 35px;
    border-radius: 1em;
    text-align: justify;
  }
  .top {
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 0% 100% 0%;
    grid-template-rows: 100%;
    padding-left: 50px;
    padding-right: 50px;
    height: 800px;
    color: #eee;
    .mainnet-live {
      margin-top: 15px;
      font-size: 1rem;
      margin-bottom: 20px;
      color: #4d4;
      display: flex;
      align-items: center;
      text-decoration: none;
      i {
        background-color: #4d4;
        width: 16px;
        height: 16px;
        border-radius: 16px;
        margin-right: 5px;
      }
    }
    .left {
      grid-row: 1;
      grid-column: 2;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      position: relative;
      padding-left: 262px;
      .timeline-cont {
        top: 0px;
        left: 0px;
        position: absolute;
        height: 100%;
        width: 262px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        .timeline {
          .roadmap-link {
            position: absolute;
            bottom: -35px;
            color: #eee;
            font-weight: 500;
            font-size: 1.1rem;
          }
          position: relative;
          height: 262px;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          flex-direction: column;
          & > div {
            position: relative;
            padding-left: 10px;
            .event {
              font-weight: 800;
              font-size: 1.2rem;
              transform: translateY(-8px);
              display: block;
            }
            .date {
              a {
                color: #eee;
              }
              transform: translateY(-4px);
              display: block;
              font-size: 1rem;
            }
            &:last-of-type {
              &:before {
              }
            }
            &:before {
              width: 8px;
              height: 8px;
              border-radius: 8px;
              display: block;
              background-color: #eee;
              position: absolute;
              top: -2px;
              left: -3px;
              content: "";
            }
          }
          &:before {
            width: 2px;
            height: 100%;
            display: block;
            background-color: #eee;
            position: absolute;
            top: 0px;
            left: 0px;
            content: "";
          }
        }
      }
      h1,
      p {
        margin: 0px;
      }
      h1 {
        font-size: 3.6rem;
        font-weight: 700;
      }
      .second-p {
        font-size: 1.7rem;
        margin-top: 10px;
        padding: 8px;
      }
      .main-p {
        font-size: 1.9rem;
        margin-top: 10px;
        font-weight: 300;
        border: 1px solid #630c2c;
        background: linear-gradient(
          15deg,
          rgb(164 0 62 / 40%),
          rgb(163 0 62 / 20%)
        );
        /* background: linear-gradient(
          15deg,
          rgb(99, 12, 44, 0.5),
          rgb(173, 12, 55, 0.2)
        ); */
        //background-color: rgba(255, 255, 255, 0.5);
        color: #eee;
        padding: 8px;
        border-radius: 2px;
        b {
          font-weight: bold;
        }
      }
    }
    .right {
      grid-row: 1;
      grid-column: 2;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      background-size: cover;
    }
  }

  .videoSection {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-size: 10px 10px;
    background-image: repeating-linear-gradient(
      45deg,
      rgba(170, 170, 170, 0.1) 0,
      rgba(170, 170, 170, 0.1) 1px,
      #e5e5f7 0,
      #e5e5f7 50%
    );
    & > .bg {
      width: 100%;
      height: 100%;
      background: linear-gradient(
        35deg,
        rgb(100, 100, 100, 0.2),
        rgb(255, 255, 255, 0.2)
      );
    }
    & > .bg > .section {
      background: none;
      background-color: none;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 440px 40px;
      .text-wrapper {
        grid-row: 1;
        grid-column: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          font-size: 1.5rem;
          white-space: break-spaces;
          text-align: justify;
          color: #222;
        }
      }
      .video-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-row: 1;
        grid-column: 2;
      }
    }
  }

  #rhoRevolutionSection {
    background-image: url("/assets/rho2.jpg");
    background-position: center;
    background-size: cover;
    color: #eee;
    padding-top: 20px;
    padding-bottom: 40px;
    .section {
      background: transparent;
      h2.rhoRevolution {
        margin: 0 auto 0;
        margin-bottom: 0;
        font-size: 3rem;
      }
      h3 {
        font-size: 1.8rem;
      }
    }
    p,
    ul {
      max-width: 1200px;
      margin-bottom: 40px;
      font-size: 1.5rem;
    }
    .rchain-open-source {
      font-size: 1.1rem;
      font-weight: 400;
      color: #fff;
      text-decoration: underline;
    }
  }

  #getStartedSection {
    padding: 2rem 0 3rem;
    & > div:nth-child(1) {
      margin: 0 auto 2rem;
      text-align: center;
      width: 80%;
    }

    & > div:nth-child(1) h2 {
      font-size: 2rem;
      margin: 0.5rem 0 0.5rem;
    }

    & > div:nth-child(2) {
      text-align: center;
    }
  }

  @media (max-width: 1200px) {
    .top {
      height: 600px;
      grid-template-columns: 0% 100% 0%;
      padding-left: 0px;
      padding-right: 0px;
      .left {
        h1 {
          font-size: 3rem;
        }
        .main-p {
          font-size: 1.7rem;
        }
        .second-p {
          font-size: 1.7rem;
        }
      }
    }
    .videoSection {
      & > .bg > .section {
        video {
          height: 213px;
          width: 380px;
        }
        .text-wrapper p {
          font-size: 1.2rem;
        }
      }
    }
  }

  @media (max-width: 960px) {
    .top {
      height: inherit;
      grid-template-columns: 0% 100% 0%;
      .left {
        padding-left: 0px;
        h1 {
          font-size: 2.4rem;
        }
        p {
          background: transparent;
          border: none;
          padding-left: 0px;
          text-align: justify;
        }
        .main-p,
        .second-p {
          font-size: 1.5rem;
        }
        .timeline-cont {
          position: relative;
          height: auto;
          width: 100%;
          .timeline {
            .roadmap-link {
              position: absolute;
              bottom: -60px;
              color: #eee;
              font-weight: 500;
              font-size: 1.4rem;
            }
            height: auto;
            flex-direction: row;
            width: 100%;
            padding-top: 20px;
            margin-top: 60px;
            &:before {
              height: 2px;
              width: 100%;
            }
            & > div {
              padding: 0px;
              text-align: center;
              &:before {
                top: -23px;
                left: 50%;
              }
            }
          }
        }
      }
    }
    .videoSection {
      & > .bg > .section {
        grid-template-columns: 100%;
        grid-template-rows: 290px 250px;
        .text-wrapper {
          grid-row: 2;
          grid-column: 1;
        }
        .video-wrapper {
          grid-row: 1;
          grid-column: 1;
        }
        video {
          height: 247px;
          width: 440px;
        }
        .text-wrapper p {
          font-size: 1.2rem;
        }
      }
    }
    .section#getStartedSection {
      padding: 1rem 0 2rem;
    }
    .section#getStartedSection > div:nth-child(1) {
      margin: 0 auto 1rem;
    }
    .section#getStartedSection > div:nth-child(1) h2 {
      font-size: 1.4rem;
    }
  }

  @media (max-width: 767px) {
    .top {
      padding-top: 85px;
      .left h1 {
        font-size: 2rem;
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
      }
      .left p {
        font-size: 1.5rem;
      }
    }
    #headerSection {
      padding: 2rem 0.7rem 0;
      .textWrapper {
        width: auto;
      }
      .textWrapper > p {
        width: 100%;
      }
      .imgWrapper {
        display: none;
      }
      .vidyaWrapper {
        padding: 3rem 0 0;
      }
      .vidyaWrapper p {
        padding: 3rem 0 0;
        font-size: 1rem;
      }
      h6:nth-child(3) {
        font-size: 0.9rem;
        margin: 0 auto 1rem;
        width: auto;
      }
      & > ul {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
        padding: 1rem;
      }
      & > ul > li {
        margin: 0 0.5rem 0.8rem;
        width: auto;
      }
      & > ul li p {
        font-size: 0.9rem;
        margin-top: 0.3rem;
        width: 80%;
      }
    }

    .section#getStartedSection {
      padding: 1rem 0.7rem 2rem;
    }
    .section#getStartedSection > div:nth-child(1) h2 {
      font-size: 1.1rem;
    }
  }

  @media (max-width: 650px) {
    .section#headerSection .imgWrapper {
      display: none;
    }
    .section#headerSection .textWrapper {
      width: auto;
    }
    .section#headerSection .textWrapper > h1 {
      font-size: 6vw;
    }
    .section .textWrapper,
    .section .imgWrapper {
      display: block;
    }
    .section#headerSection > ul {
      display: block;
      margin: auto;
      padding: 1rem 0;
    }
    .section#headerSection > ul > li {
      width: 100%;
    }
  }

  @media (max-width: 550px) {
    body {
      padding: 70px 0 379.5px;
    }
  }
}
