.pageIndex {
  .topSection {
    background: linear-gradient(20deg, #111, hsl(240, 13%, 8%));
    margin: 0px;
    padding-bottom: 40px;
    background: url("/assets/mountaindark1920.jpg");
    //background: rgb(245, 243, 243);
    background-size: cover;
    background-position-y: bottom;
    background-position-x: right;
    .section {
      background: transparent;
    }
  }
  .green {
    font-size: 1.4rem;
    line-height: 1.0rem;
    font-weight: 600;
    color: #d3ffa3;
  
    img {
      transform: translate(2px, 5px);
      width: 25px;
      height: auto;
    }
  }
  .alert {
    margin-top: 1rem;
    background-color: #0fb9c9;
    border: 1px solid rgb(99, 229, 252);
    background: rgba(160, 253, 247, 0.7);
    color: #111;
    padding: 1rem;
    font-weight: 500;
    font-size: 1.4rem;
    span {
      width: 2rem;
      height: 2rem;
      margin-right: 10px;
    }
  }
  .top {
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 0% 100% 0%;
    grid-template-rows: 100%;
    padding-left: 50px;
    padding-right: 50px;
    height: 800px;
    color: rgb(255, 255, 255);
    .left {
      grid-row: 1;
      grid-column: 2;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      position: relative;
      padding-left: 100px;
      .buttons-top {
        display: flex;
        @media (max-width: 991px) {
          flex-direction: column;
          a {
            margin-bottom: 1rem;
          }
        }
        .btn-tech-overview {
          margin-right: 1rem;
        }
      }

      h1,
      p {
        margin: 0px;
      }
      h1.rchain-scales {
        font-size: 3.8rem;
        font-weight: 600;
      }
      .main-p {
        font-size: 1.9rem;
        margin-top: 10px;
        text-align: justify;
        max-width: 900px;
        font-weight: 300;
        color: rgb(255, 255, 255);
        padding: 8px;
        border-radius: 2px;
        b {
          font-weight: bold;
        }
      }
    }
    .right {
      grid-row: 1;
      grid-column: 2;
      display: flex;
    }
  }
  .boxes {
    @media (max-width: 1199px) {
      display: flex;
      flex-direction: column;
    }
    @media (max-width: 991px) {
      & > div > div {
        h1 {
          font-size: 2.4rem !important;
        }
      }
    }
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 300px 300px;
    .div1 {
      grid-row: 1;
      grid-column: 1;
    }
    .div2 {
      grid-row: 1;
      grid-column: 2;
    }
    .div3 {
      grid-row: 2;
      grid-column: 1;
    }
    & > div {
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: scale(1.02);
        background: linear-gradient(-20deg, rgba(0,0,0,0.4),  rgba(0,0,0,0.8))
      }
      margin: 10px;
      & > div {
        h1 {
          font-size: 3.4rem;
          margin: 0px;
          span {
            width: 4.2rem;
            height: 4.2rem;
            margin-right: 10px;
            transform: translateY(.5rem);
          }
        }
        p {
          font-size: 1.8rem;
          font-weight: 400;
        }
        padding: 10px;
        border: 4px solid #000;
        color: #fff;
        border-radius: 1rem;
        background: linear-gradient(-60deg, rgba(0,0,0,0.3),  rgba(0,0,0,0.7))
      }
    }
  }
  .horizontal {
    @media (min-width: 992px) {
      & > a {
        margin-left: 100px;
        font-size: 1.6rem;
      }
    }
    @media (max-width: 991px) {
      & > a {
        font-size: 1.2rem;
        margin-left: 20px;
      }
    }
    width: 100vw;
    height: 100px;
    color: #111;
    font-weight: 400;
    background: linear-gradient(20deg, #d3ffa3, #e4fcc9);
    display: flex;
    justify-content: center;
    align-items: center;
    & > a {
      color: #111;
      span.iconimg {
        width: 25px;
        height: 25px;
        margin-right: .5rem;
      }
      span:not(.iconimg) {
        text-decoration: underline;
      }
    }
  }

  @media (max-width: 1200px) {
    .top {
      height: 600px;
      grid-template-columns: 0% 100% 0%;
      padding-left: 0px;
      padding-right: 0px;
      .left {
        h1 {
          font-size: 3rem;
        }
        .main-p {
          font-size: 1.7rem;
        }
        .second-p {
          font-size: 1.7rem;
        }
      }
    }
  }

  @media (max-width: 960px) {
    .top {
      height: inherit;
      grid-template-columns: 0% 100% 0%;
      .left {
        padding-left: 0px;
        h1 {
          font-size: 2.4rem;
        }
        p {
          background: transparent;
          border: none;
          padding-left: 0px;
          text-align: justify;
        }
        .main-p,
        .second-p {
          font-size: 1.5rem;
        }
      }
    }

    .section#getStartedSection {
      padding: 1rem 0 2rem;
    }
    .section#getStartedSection > div:nth-child(1) {
      margin: 0 auto 1rem;
    }
    .section#getStartedSection > div:nth-child(1) h2 {
      font-size: 1.4rem;
    }
  }

  @media (max-width: 767px) {
    .top {
      padding-top: 85px;
      .left h1 {
        font-size: 2rem;
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
      }
      .left p {
        font-size: 1.5rem;
      }
    }
    #headerSection {
      padding: 2rem 0.7rem 0;
      .textWrapper {
        width: auto;
      }
      .textWrapper > p {
        width: 100%;
      }
      .imgWrapper {
        display: none;
      }
      .vidyaWrapper {
        padding: 3rem 0 0;
      }
      .vidyaWrapper p {
        padding: 3rem 0 0;
        font-size: 1rem;
      }
      h6:nth-child(3) {
        font-size: 0.9rem;
        margin: 0 auto 1rem;
        width: auto;
      }
      & > ul {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
        padding: 1rem;
      }
      & > ul > li {
        margin: 0 0.5rem 0.8rem;
        width: auto;
      }
      & > ul li p {
        font-size: 0.9rem;
        margin-top: 0.3rem;
        width: 80%;
      }
    }

    .section#getStartedSection {
      padding: 1rem 0.7rem 2rem;
    }
    .section#getStartedSection > div:nth-child(1) h2 {
      font-size: 1.1rem;
    }
  }

  @media (max-width: 650px) {
    .section#headerSection .imgWrapper {
      display: none;
    }
    .section#headerSection .textWrapper {
      width: auto;
    }
    .section#headerSection .textWrapper > h1 {
      font-size: 6vw;
    }
    .section .textWrapper,
    .section .imgWrapper {
      display: block;
    }
    .section#headerSection > ul {
      display: block;
      margin: auto;
      padding: 1rem 0;
    }
    .section#headerSection > ul > li {
      width: 100%;
    }
  }

  @media (max-width: 550px) {
    body {
      padding: 70px 0 379.5px;
    }
  }
}
