.pagePlatform {
  #rchainSection {
    padding: 4rem 4rem 2rem;
    & > h1 {
      font-size: 2.4rem;
      margin: 0 auto 0.7rem;
      text-align: center;
    }

    & > h3 {
      font-family: Dosis-ExtraLight;
      font-size: 1.5rem;
      margin: 0;
      text-align: center;
    }

    & > p:nth-child(4) {
      font-size: 1.5rem;
      margin: auto;
      text-align: center;
      width: 70%;
    }

    .section#rchainSection .wrapper {
      display: inline-block;
      padding-top: 8rem;
      width: 49%;
      vertical-align: top;
    }

    & > .wrapper:nth-child(5) {
      padding: 8rem 2rem 1rem 6rem;
    }

    & > .wrapper:nth-child(6) {
      padding: 8rem 6rem 1rem 2rem;
    }

    .wrapper .textWrapper h2 {
      color: black;
      font-size: 1.5rem;
      margin-bottom: 0.7rem;
      text-transform: uppercase;
    }

    .wrapper .textWrapper p {
      margin: 0;
    }
  }

  #posSection {
    padding: 4rem 4rem;
    .flexWrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }

    .flexWrapper .imgWrapper {
      margin-bottom: 1.5rem;
      width: 45%;
    }

    .flexWrapper .textWrapper {
      width: 45%;
    }

    .flexWrapper .textWrapper h2 {
      color: black;
      font-size: 2rem;
      margin-bottom: 0.7rem;
    }

    .flexWrapper .textWrapper ul {
      padding: 0 0 0 1.5rem;
    }

    .flexWrapper .textWrapper ul li {
      margin-bottom: 1rem;
    }
  }

  @media (max-width: 1200px) {
    #rchainSection {
      & > .wrapper:nth-child(5) {
        padding: 8rem 2rem 1rem 0;
      }
      & > .wrapper:nth-child(6) {
        padding: 8rem 0 1rem 2rem;
      }
      & > p:nth-child(4) {
        width: 90%;
      }
      .flexWrapper .textWrapper {
        padding-top: 8vw;
      }
      .flexWrapper .textWrapper {
        padding-top: 3vw;
      }
      .flexWrapper .textWrapper h2 {
        font-size: 2rem;
      }
    }
    #posSection {
      .flexWrapper .imgWrapper {
        width: 47%;
      }
      .flexWrapper .textWrapper {
        width: 47%;
      }
      .flexWrapper .textWrapper h2 {
        margin: 0;
      }
    }
  }

  @media (max-width: 960px) {
    #rchainSection {
      padding: 4rem;
      & > h1 {
        font-size: 1.6rem;
        margin: 0 auto 0.2rem;
      }
      & > h3 {
        font-size: 1.2rem;
      }
      & > p:nth-child(4) {
        font-size: 1rem;
      }
      & > .wrapper:nth-child(5) {
        padding: 5rem 1rem 1rem 0;
      }
      & > .wrapper:nth-child(6) {
        padding: 5rem 0 1rem 1rem;
      }
      .wrapper .textWrapper h2 {
        font-size: 1.2rem;
        margin: 0.7rem 0 0.2rem;
      }
      & > div:nth-last-child(1) {
        font-size: 1.2rem;
      }
    }
  }

  @media (max-width: 767px) {
    #rchainSection {
      padding: 2rem 0.7rem;
      & > .wrapper {
        width: 100%;
      }
      & > .wrapper:nth-child(5),
      & > .wrapper:nth-child(6) {
        padding: 1rem 0 2rem;
      }
      & > .wrapper > .imgWrapper {
        margin: 0 auto 1.5rem;
        padding: 2rem 3rem 0;
      }
      & > .wrapper > .textWrapper {
        margin: auto;
        text-align: center;
        width: 80%;
      }
    }
    #posSection {
      padding: 2rem 0.7rem;
      .flexWrapper {
        display: block;
      }
      .flexWrapper .imgWrapper {
        padding: 0 8rem;
        width: auto;
      }
      .flexWrapper .textWrapper {
        width: auto;
      }
      .flexWrapper .textWrapper h2 {
        font-size: 1.2rem;
        text-align: center;
      }
      .flexWrapper .textWrapper ul {
        padding: 0 4rem;
      }
    }
  }

  @media (max-width: 650px) {
    .section .textWrapper,
    .section .imgWrapper {
      display: block;
    }
    .section#rchainSection .flexWrapper .textWrapper {
      width: 80%;
    }
    .section#rchainSection .flexWrapper .imgWrapper {
      margin-bottom: 1rem;
      width: 100%;
    }
  }

  @media (max-width: 550px) {
    #rchainSection {
      & > h1 {
        font-size: 7.5vw;
      }
      & > .wrapper > .imgWrapper {
        padding: 2rem 0 0;
      }
      & > .wrapper > .textWrapper {
        width: auto;
      }
    }
    #rhoSection {
      & > .flexWrapper h1 {
        font-size: 5vw;
      }
      & > .flexWrapper > .flexWrapper {
        display: block;
      }
      & > .flexWrapper > .flexWrapper p {
        width: auto;
      }
    }
    .section#posSection {
      & > .flexWrapper .imgWrapper {
        padding: 0 4rem;
        width: auto;
      }
      .flexWrapper .textWrapper ul {
        padding: 0 0 0 1.5rem;
      }
    }
  }

  @media (max-width: 450px) {
    .section#rchainSection > div:nth-last-child(1) {
      font-size: 4.5vw;
    }
    .section#rchainSection .flexWrapper .textWrapper {
      width: 100%;
    }
  }
}
